  <form action="include/spud/registration.php">

                          <h2>Group Information:</h2>
                          <table width="100%" border="0" cellspacing="10">
                            <tr>
                              <td>Group Name (# &amp; Name):
                              <br />
                              <div class="input-control text">
                                  <input type="text" name="group_name" />
                                  <button class="btn-clear"></button>
                              </div>
                              </td>
                            </tr>
                            <tr>
                              <td>Group Location (City it is located in: e.g. Mississauga):
                              <br />
                              <div class="input-control text">
                                  <input type="text" name="group_location" />
                                  <button class="btn-clear"></button>
                              </div>
                              </td>
                            </tr>
                            <tr>
                              <td>Number of Youth Attending:
                              <br />
                              <div class="input-control text">
                                  <input type="text" name="group_attending" />
                                  <button class="btn-clear"></button>
                              </div>
                              </td>
                            </tr>
                          </table>
                          <h2>Contact Information:</h2>
                          <table width="100%" border="0" cellspacing="10">
                            <tr>
                              <td width="50%">First Name:
                              <br />
                              <div class="input-control text">
                                  <input type="text" name="name_first" />
                                  <button class="btn-clear"></button>
                              </div>
                              </td>
                              <td>Last Name:
                              <br />
                              <div class="input-control text">
                                  <input type="text" name="name_last" />
                                  <button class="btn-clear"></button>
                              </div>
                              </td>
                            </tr>
                            <tr>
                              <td>Address:
                              <br />
                              <div class="input-control text">
                                  <input type="text" name="address" />
                                  <button class="btn-clear"></button>
                              </div>
                              </td>
                              <td>Address 2 (Optional):
                              <br />
                              <div class="input-control text">
                                  <input type="text" name="address2" />
                                  <button class="btn-clear"></button>
                              </div>
                              </td>
                            </tr>
                            <tr>
                              <td>City:
                              <br />
                              <div class="input-control text">
                                  <input type="text" name="city" />
                                  <button class="btn-clear"></button>
                              </div>
                              </td>
                              <td>Province or State:
                              <br />
                              <div class="input-control text">
                                  <input type="text" name="prov_state" />
                                  <button class="btn-clear"></button>
                              </div>
                              </td>
                            </tr>
                          </table>
                          <table width="100%" border="0" cellspacing="10">
                            <tr>
                              <td>Country:
                              <br/>
                              <div class="input-control select">
                                  <select>
                                    <option selected>Choose...</option>
                                    <option name="country">Canada</option>
                                    <option name="country">United States</option>
                                    <option name="country">Scotland</option>
                                    <option name="country">Another Country</option>
                                  </select>
                              </div>
                              </td>
                            </tr>
                            <tr>
                              <td>Postal Code (ZIP):
                              <br />
                              <div class="input-control text">
                                  <input type="text" name="zip_code" />
                                  <button class="btn-clear"></button>
                              </div>
                              </td>
                            </tr>
                          </table>
                          <table width="100%" border="0" cellspacing="10">
                            <tr>
                              <td width="50%">Telephone:
                              <br />
                              <div class="input-control text">
                                  <input type="text" name="telephone" />
                                  <button class="btn-clear"></button>
                              </div>
                              </td>
                              <td>Telephone (Residential or Business: Optional):
                              <br />
                              <div class="input-control text">
                                  <input type="text" name="telephone2" />
                                  <button class="btn-clear"></button>
                              </div>
                              </td>
                            </tr>
                          </table>
                          <table width="100%" border="0" cellspacing="10">
                            <tr>
                              <td>Email:
                              <br />
                              <div class="input-control text">
                                  <input type="text" name="email" />
                                  <button class="btn-clear"></button>
                              </div>
                              </td>
                            </tr>
                          </table>
                          <div class="place-left">
                              <button type="submit">Submit</button>
                              <button type="reset">Reset</button>
                          </div>
                          <div class="place-right">
                              <a href="#info" class="button">Spud Camp Information</a>
                          </div>
                        </form>